In [21]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

customer_data = pd.read_csv("D:\Me\Emergence Assesment\customers.csv")
events_data = pd.read_csv("D:\Me\Emergence Assesment\events.csv")
subscription_data = pd.read_csv("D:\Me\Emergence Assesment\subscriptions.csv")

In [22]:
customer_data.head()
events_data.head()
subscription_data.head()

  subscription_id customer_id  start_date    end_date  monthly_price    status
0          S00001       C0001  2023-01-10         NaN            499    active
1          S00002       C0002  2023-01-12         NaN             49    active
2          S00003       C0003  2023-01-08  2023-02-14            149  canceled
3          S00004       C0004  2023-01-21         NaN            149    active
4          S00005       C0005  2023-04-03         NaN             99    active

In [23]:
for name, df in {"customers": customer_data, "subscriptions": subscription_data, "events": events_data}.items():
    print(f"\n{name.upper()}")
    print(df.shape)
    print(df.columns)

# CUSTOMERS : no.of rows = 1000 : no.of columns = 5
# SUBSCRIPTIONS : no.of rows = 941 : no.of columns = 6
# EVENTS : no.of rows = 2411 : no.of columns = 5

CUSTOMERS
(1000, 5)
Index(['customer_id', 'signup_date', 'segment', 'country', 'is_enterprise'], dtype='object')

SUBSCRIPTIONS
(941, 6)
Index(['subscription_id', 'customer_id', 'start_date', 'end_date',
       'monthly_price', 'status'],
      dtype='object')

EVENTS
(2411, 5)
Index(['event_id', 'customer_id', 'event_type', 'event_date', 'source'], dtype='object')

In [5]:
def missing_report(df):
    return(
        df.isna()
          .sum()
          .to_frame("missing_count")
          .assign(missing_pct=lambda x: x.missing_count / len(df))
          .query("missing_count > 0")
          .sort_values("missing_count", ascending = False)
    )    
    
print("CUSTOMERS \n", missing_report(customer_data))
print("\nSUBSCRIPTIONS \n", missing_report(subscription_data))
print("\nEVENTS \n", missing_report(events_data))

# CUSTOMERS 
#               missing_count  missing_pct
# segment                243        0.243
# signup_date             36        0.036

# SUBSCRIPTIONS 
#            missing_count  missing_pct
# end_date            718     0.763018

# EVENTS 
#  Empty DataFrame
# Columns: [missing_count, missing_pct]

CUSTOMERS
              missing_count  missing_pct
segment                243        0.243
signup_date             36        0.036

SUBSCRIPTIONS
           missing_count  missing_pct
end_date            718     0.763018

EVENTS
 Empty DataFrame
Columns: [missing_count, missing_pct]
Index: []

In [6]:
customer_data.duplicated(subset="customer_id").sum()
# zero duplicates

np.int64(0)

In [7]:
subscription_data.groupby("customer_id").size().sort_values(ascending=False).head(10)
# logical duplicates found

customer_id
C0348    2
C0358    2
C0187    2
C0026    2
C0080    2
C0099    2
C0267    2
C0255    2
C0290    2
C0434    2
dtype: int64

In [8]:
events_data.groupby("customer_id").size().sort_values(ascending=False).head(10)
# logical duplicates found

customer_id
C0846    5
C0538    5
C0871    5
C0396    5
C0566    5
C0267    5
C0199    5
C0797    5
C0141    5
C0699    5
dtype: int64

In [9]:
subscription_data.describe()

       monthly_price
count     941.000000
mean      254.356004
std       223.390712
min        49.000000
25%        79.000000
50%       149.000000
75%       499.000000
max       699.000000

In [ ]:
price_array = subscription_data['monthly_price'].to_numpy()

print(np.min(price_array)), print(np.max(price_array))

# monthly price 
# min = 49, max = 699

49
699

(None, None)

In [10]:
subscription_data.query("monthly_price <= 0")

Empty DataFrame
Columns: [subscription_id, customer_id, start_date, end_date, monthly_price, status]
Index: []

In [11]:
customer_dates = [c for c in customer_data.columns if "date" in c.lower()]
subscription_dates = [c for c in subscription_data.columns if "date" in c.lower()]
events_dates = [c for c in events_data.columns if "date" in c.lower()]

for c in customer_dates :
    customer_data[c] = pd.to_datetime(customer_data[c], errors = "coerce")

for c in subscription_dates:
    subscription_data[c] = pd.to_datetime(subscription_data[c], errors = "coerce")

for c in events_dates:
    events_data[c] = pd.to_datetime(events_data[c], errors = "coerce")
    

customer_data[customer_dates].describe()
subscription_data[subscription_dates].describe()
events_data[events_dates].describe()

                          event_date
count                           2411
mean   2023-02-21 22:47:43.873911040
min              2023-01-01 00:00:00
25%              2023-01-26 00:00:00
50%              2023-02-19 00:00:00
75%              2023-03-15 00:00:00
max              2023-07-21 00:00:00

In [12]:
subscription_data.query("start_date > end_date")
# no date mismatch errors found

Empty DataFrame
Columns: [subscription_id, customer_id, start_date, end_date, monthly_price, status]
Index: []

Data Quality Observations:

customer_data : 0 duplicate customer ids found.

subscription_data : some missing end dates found, assuming subscription still active.  

events_data : multiple sign up events per customer found.

In [13]:
print(len(customer_data))
print(len(subscription_data))
print(len(events_data))

1000
941
2411

In [ ]:
# Writing data to mysql db using SQL Alchemy

engine = create_engine(
    "mysql+mysqlconnector://root:password@localhost:xxxx/emergence_assess"
)

customer_data.to_sql(
    "customer_data_raw",
    engine,
    if_exists="replace",
    index=False
)

subscription_data.to_sql(
    "subscriptions_raw",
    engine,
    if_exists="replace",
    index=False
)

events_data.to_sql(
    "events_raw",
    engine,
    if_exists="replace",
    index=False
)

2411